@font-face {
  font-family: 'LC';
  src:  url('fonts/LC.eot?oxlr0j');
  src:  url('fonts/LC.eot?oxlr0j#iefix') format('embedded-opentype'),
    url('fonts/LC.ttf?oxlr0j') format('truetype'),
    url('fonts/LC.woff?oxlr0j') format('woff'),
    url('fonts/LC.svg?oxlr0j#LC') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LC' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-view:before {
  content: "\e906";
}
.icon-share:before {
  content: "\e902";
}
.icon-comment:before {
  content: "\e903";
}
.icon-thumbs-down:before {
  content: "\e904";
}
.icon-thumbs-down-full:before {
  content: "\e905";
}
.icon-thumbs-up:before {
  content: "\e900";
}
.icon-thumbs-up-full:before {
  content: "\e901";
}
.icon-trash:before {
  content: "\e9c5";
}
.icon-down2:before {
  content: "\e90e";
}
.icon-forward:before {
  content: "\e912";
}
.icon-up:before {
  content: "\e927";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
