@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin vertical_center {
  display: flex;
  align-items: center;
}

@mixin left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin left_column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@mixin left_column_sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin around_column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* 主色 */
$blue_default: #6190E8;

/* 辅助色 */
$yellow_warning: #FFC82C;
$red_negative  : #FF4949;
$blue_info     : #6190E8;

/* 次辅助色 */
$roof   : #C2ABC7;
$curtain: #F0D0D5;
$door   : #F1E4ED;
$wall   : #EEF0F0;

/* 中性色 */
$header       : #2C405A;
$dark_default : #3F536E;
$gray_default : #8DABC4;
$icon_color   : #A8C6DF;
$border_color : #C5D9E8;
$light_blue_bg: #ECF5FD;
$off_white_bg : #FAFBFC;

$small_font_size  : 24px;
$normal_font_size : 26px;
$big_font_size    : 28px;
$icon_default_size: 32px;
$header_font_size : 38px;

@import '../icon/icon.scss'