.avatar_wrapper_top{
  position: relative;
  height: 120px;
  width: 100%;
  background-color: #facd91;


  .avatar_wrapper{
    padding: 0 30px;
    position: absolute;
    bottom: -75px;
    width: 100%;
    box-sizing: border-box;

    .avatar{
      height: 150px;
      width: 150px;
      border-radius: 75px;
    }
  }
}
.avatar_wrapper_bot{
  height: 75px;
  width: 100%;
}
