.content-outer-wrapper{
  padding: 20px 20px 35px 20px;
  background: $off_white_bg;

  .content-header{
    font-size: $header_font_size;
    color: $header;
    font-weight: 900;
  }

  .content-inner-wrapper{
    @include left_column_sb;
    margin-top: 40px;
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;

    .content-authore-wrapper{
      @include left;

      .content-avatar{
        display: inline;
        margin: 10px;
        height: 80px;
        width: 80px;
      }
  
      .content-author-wrapper{
        @include around_column;
        margin-left: 20px;
        height: 100px;
        max-width: 520px;

        .content-author-name{
          @include ellipsis;
          padding-top: 6px;
          width: 100%;
          font-size: $big_font_size;
          font-weight: 900;
          color: $blue_default;
        }

        .content-post-info{
          @include ellipsis;
          font-size: $small_font_size;
          font-weight: 400;
          color: $gray_default;
        }
      }
    }

    .content{
      margin-top: 20px;
      font-size: $big_font_size;
      color: $dark_default;
      line-height: 42px;
      font-weight: 600;
    }

    .post-time{
      width: 100%;
      margin-top: 20px;
      text-align: right;
      font-size: $small_font_size;
      font-weight: 400;
      color: $gray_default;
    }
  }
  .icons{
    margin-top: 35px;
    width: 100%;
    font-size: $normal_font_size;
    font-weight: 400;
    color: $gray_default;
    @include around;

    .icon{
      font-size: $icon_default_size;
    }

    .icons-desc{
      padding-left: 10px;
    }
  }
}