.tab-wrapper{
  margin-top: 30px;
  width: 100%;
  height: 80px;
  background-color: $off_white_bg;
  border-top: $light_blue_bg 1px solid;
  border-bottom: $light_blue_bg 1px solid;

  .tab{
    @include center;
    // background-color: $light_blue_bg;
    box-sizing: border-box;
    padding: 20px;
    width: 200px;
    height: 100%;
    font-size: $big_font_size;
    color: $dark_default;
    font-weight: 900;
  }
}