.reply-bg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  background-color: #333333;
  opacity: 0.3;
  touch-action: none;
}

.reply-outer-wrapper{
  touch-action: none;
  background-color: $wall;
  @include center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */

  .reply-inner-wrapper{
    @include center;
    width: 100%;
    margin: 10px 20px;
    border-radius: 40px;
    line-height: 80px;
    background-color: $gray_default;
    color: $light_blue_bg;
  }

  .reply-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    
    .reply-textarea{
      width: 550px;
      margin: 10px 20px;
      padding: 20px;
      border-radius: 40px;
      background-color: $border_color;
      min-height: 80px;

      textarea{
        height: 80px;
        width: 550px;
      }
    }

    .submit-btn{
      // display: inline-flex;
      // flex-direction: row-reverse;

      background-color: $blue_info;
      border-radius: 10px;
      padding: 10px 20px;
      margin: 0 20px 10px 0;
      color: $light_blue_bg;
      font-size: $small_font_size;
    }
  }
}