:global(.at-skeleton__image) {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  display: inline-block;
  margin: 10rpx;
}
:global(.at-tab-bar) {
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(30px);
}
.wrapper{
  width: 100%;
  animation-duration: 0.5s;

  .user_info_wrapper{
    @include between;
    width: 100%;
    height: 80px;
    
    .avatar{
      display: inline;
      margin: 10px;
      height: 60px;
      width: 60px;
    }

    .exclude_avatar_wapper{
      height: 100%;
      width: calc(100% - 60px);

      .top_and_bot{
        width: 100%;
        height: 40px;
        line-height: 40px;

        &.top_view{
          @include between;

          .name{
            max-width: 50%;
            font-size: $small_font_size;
            font-weight: 900;
            color: $yellow_warning;
            @include ellipsis;
          }

          .time{
            max-width: 50%;
            font-size: $small_font_size;
            font-weight: 400;
            color: $gray_default;
            @include ellipsis;
          }
        }

        &.bot_view{
          @include left;

          .views,
          .comments{
            margin-right: 20px;
            max-width: 50%;
            font-size: $small_font_size;
            font-weight: 400;
            color: $gray_default;
            @include ellipsis;
          }
        }
      }
    }
  }

  .content_wrapper{

    .at-article__p{
      margin: 10px;
    }
  }

  .pre_pic_wrapper{
    position: relative;

    .pre_pic{
      box-sizing: border-box;
      border-radius: 20px;
      margin: 10px;
      width: 200px;
      height: 200px;
    }

    .pre_pic_hide{
      @include center;
      position: absolute;
      color: #fff;
      top: 10px;
      left: 450px;
      background-color: #000;
      opacity: 0.5;
      box-sizing: border-box;
      border-radius: 20px;
      width: 200px;
      height: 200px;
    }
  }

  .tag_wrapper{
    margin: 10px;
    height: 30px;
    width: 100%;
    @include vertical_center;

    .tag{
      line-height: 30px;
      font-size: $normal_font_size;
      color: $gray_default;
    }
  }
}
